<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper 
   namespace="com.myspring.mapper.UserMapper">
   <select id="findMemberByUserid" parameterType="String" resultType="User">
		select * from member where userid=#{value}
   </select>
   <select id="findMemberByIdx" parameterType="int" resultType="User">
	select * from member where idx=#{value}   
   </select>
   <!-- [주문관련] 회원 마일리지 차감 -->
   <update id="updateMileageDown" parameterType="Order">
	update member set mileage = mileage - #{omileage}
	where idx=#{idx_fk}   
   </update>
   <!--[주문관련] 회원 마일리지 적립(구매포인트 만큼)  -->
	<update id="updateMileageUp" parameterType="Order">
		update member set mileage = mileage+ #{ototalPoint}
		where idx=#{idx_fk}
	</update>
</mapper>